.admin-header {
  background-color: var(--black);
}

.admin {
  background-color: var(--white);

  &__headline-wrapper {
    background-color: var(--black);
    padding-bottom: 30px;
  }

  &__headline {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    padding-top: 60px;
  }

  &__table {
    background-color: var(--white);
    width: 90%;
    border-radius: var(--radius);
    margin: auto;
  }

  // &__td {
  &__tr {
    // padding: 15px;
    text-align: left;
  }
}

.mantine-Group-root.__mantine-ref-tabsList.mantine-Tabs-tabsList.mantine-1wh8mct {
  margin: auto;
  width: 90%;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
}

.mantine-15ssm7.__mantine-ref-tabActive {
  background-color: var(--orange);
  // color: var(--black);
  width: 144px;
  height: 45px;
}

.mantine-15ssm7.__mantine-ref-tabActive:active {
  color: var(--black);
}

.mantine-Tabs-tabControl.mantine-Tabs-pills.mantine-Group-child.mantine-qi2p0q {
  background-color: var(--black);
  width: 144px;
  height: 45px;
}

.mantine-1s8spa1.mantine-Tabs-tabLabel {
  font-size: var(--btn-nav);
  font-weight: var(--semiBold);
  font-family: var(--font);
  color: var(--white);
}
