.contact {
  background-color: var(--black);

  &__text {
    color: var(--white);
    display: flex;
    margin: auto;
    margin-top: 30px;
  }

  &__headline {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50%;
  }

  &__p {
    width: 396px;
    margin-top: 12px;
  }

  &__socials {
    margin-top: 60px;
  }

  &__icons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 33%;
  }
}
