.nav__links {
  color: var(--white);
  font-weight: var(--semiBold);
  margin-top: 12px;
}

.login__btn {
  background-color: var(--orange);
  border-radius: var(--radius);
  height: 48px;
  width: 125px;
}

nav {
  height: 150px;
}
