.nav.colorChange {
  background-color: var(--black);
}

.logo-container {
  margin-left: 40px;
}

.nav {
  padding-top: 24px;
  background-color: transparent;
  width: 100%;
  max-width: 1500px;
  min-width: 300px;
  padding-bottom: 30px;

  & a {
    font-size: var(--btn-nav);
    font-weight: var(--semiBold);
    color: var(--white);
  }

  &__hamburger {
    margin-right: 40px;
  }

  &__links-wrapper {
    margin-right: 40px;
  }

  &__btn {
    background-color: var(--orange);
    border-radius: var(--radius);
    height: 45px;
    width: 125px;

    &:hover {
      background-color: var(--orangeHover);
    }
  }
}

.activeNav:after {
  content: "";
  margin: auto;
  display: block;
  position: relative;
  width: 65%;
  border: 1.5px solid var(--white);
}
