.heroImg {
  height: 700px;
  background-size: cover;
  background-image: url("/images/hero-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.herotext {
  color: var(--white);
  padding-left: 60px;

  &__p {
    font-weight: var(--bold);
    font-size: var(--font-sm);
    padding-top: 160px;
    margin-left: 40px;
    line-height: 48px;
  }
}

.herotext__span {
  font-size: var(--font-xl);
  font-weight: var(--boldest);
}

.home {
  background-color: var(--black);
  height: 760px;
  text-align: center;
  padding-top: 140px;

  &__section-1 {
    color: var(--white);
  }

  &__span {
    display: block;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 150px;
  }

  &__h3 {
    margin-top: 20px;
  }
}

.newsletter {
  background-color: var(--black);
  height: 420px;
  text-align: center;
  padding-top: 90px;

  &__h2,
  &__h4 {
    color: var(--white);
  }

  &__email {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    width: 50%;
  }

  &__emailInput {
    width: 496px;
    border-radius: var(--radius);
    height: 55px;
    padding-left: 10px;
  }

  &__btn {
    background-color: var(--orange);
    border-radius: var(--radius);
    height: 55px;
    width: 160px;
    margin-left: 10px;
  }
}

.attractions {
  margin-bottom: 60px;

  &__headline {
    margin: auto;
    margin-top: 90px;
    display: flex;
    width: 90%;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }

  &__card {
    width: 30%;
    margin: auto;
    margin-top: 40px;
  }

  &__img {
    border-radius: var(--radius);
  }

  &__subheadline {
    margin-top: 15px;
  }

  &__description {
    width: 90%;
    margin-top: 5px;
  }
}

.mantine-DateRangePicker-root.searchbar__datepicker.mantine-1m3pqry {
  height: 0;
}
