@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
  color: var(--black);
}

h1 {
  color: var(--white);
}

h1,
h2,
h3,
button {
  font-weight: var(--semiBold);
}

h4,
p {
  font-weight: var(--regular);
}

h1 {
  font-size: var(--font-lg);
}

h2 {
  font-size: var(--font-md);
}

h3,
.herotext {
  font-size: var(--font-sm);
}

h4 {
  font-size: var(--font-xs);
}

p,
span {
  font-size: var(--font-base);
}

button,
li {
  font-size: var(--btn-nav);
}

button:hover {
  background-color: var(--orangeHover);
}

// ::placeholder {
//   color: var(--gray);
// }

.formBtn {
  background-color: var(--orange);
  color: var(--black);
  border-radius: var(--radius);
  margin-bottom: 80px;
  margin-top: 10px;
  height: 55px;
  width: 183px;
}

.blackBtn {
  background-color: var(--black);
  color: var(--white);
  border-radius: var(--radius);
  font-size: var(--font-base);
  width: 169px;
  height: 45px;

  &:hover {
    background-color: var(--blackHover);
  }
}

.contactform {
  display: flex;

  &__label {
    color: var(--white);
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
    font-weight: var(--medium);
  }

  &__inputShort {
    width: 229px;
  }

  &__input {
    width: 472px;
  }

  &__input,
  &__inputShort {
    height: 55px;
    padding-left: 15px;
    border-radius: var(--radius);
  }

  &__messagefield {
    padding-left: 15px;
    padding-top: 10px;
    width: 472px;
    height: 165px;
    color: var(--black);
    resize: none;
    border-radius: var(--radius);
  }

  &__lastname {
    margin-left: 15px;
  }
}
