@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: var(--font);
  color: var(--black);
}

h1 {
  color: var(--white);
}

h1,
h2,
h3,
button {
  font-weight: var(--semiBold);
}

h4,
p {
  font-weight: var(--regular);
}

h1 {
  font-size: var(--font-lg);
}

h2 {
  font-size: var(--font-md);
}

h3,
.herotext {
  font-size: var(--font-sm);
}

h4 {
  font-size: var(--font-xs);
}

h5 {
  color: var(--white);
}

p,
span {
  font-size: var(--font-base);
}

button,
li {
  font-size: var(--btn-nav);
}

.formBtn {
  background-color: var(--orange);
  color: var(--black);
  border-radius: var(--radius);
  margin-top: 10px;
  height: 50px;
  width: 183px;

  &:hover {
    background-color: var(--orangeHover);
  }
}

.blackBtn {
  background-color: var(--black);
  color: var(--white);
  border-radius: var(--radius);
  font-size: var(--font-base);
  width: 169px;
  height: 45px;

  &:hover {
    background-color: var(--blackHover);
  }
}

.smallBtn {
  width: 169px;
  height: 45px;
  border-radius: var(--radius);
  font-size: var(--font-base);
}

input {
  &::placeholder,
  .mantine-DateRangePicker-defaultVariant.mantine-DateRangePicker-input.mantine-DateRangePicker-input.mantine-1oqua4f {
    font-size: var(--font-base);
    font-weight: var(--medium);
    color: var(--gray);
  }
}
