.stays {
  background-color: var(--black);

  &__section-1 {
    background-color: var(--black);
    margin: auto;
    height: 350px;
  }

  &__headline {
    margin: auto;
    width: 90%;
    padding-top: 60px;
  }

  &__searchbar {
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
  }
}

.filter {
  background-color: var(--white);
  margin-top: 60px;

  &__sorting,
  &__rating {
    margin-top: 50px;
  }

  &__input {
    margin-top: 20px;
  }

  &__label {
    padding-left: 12px;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  height: 165px;

  &__label {
    padding-left: 12px;
    margin-top: 10px;
  }
}

.hotels {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.results__div {
  margin-top: 50px;
  margin-bottom: 90px;
}

.underline {
  border-bottom: 1px solid var(--light-gray);
  width: 910px;
}

.hotel {
  &__line {
    border-top: 1px solid var(--light-gray);
    margin-top: 40px;
    width: 910px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  &__img {
    border-radius: var(--radius);
  }

  &__h4 {
    font-weight: var(--semiBold);
    display: flex;
    justify-content: space-between;
  }

  &__starDiv {
    display: flex;
    align-items: center;
  }

  &__stars {
    font-size: 20px;
    margin-right: 4px;
    color: var(--black);
    font-weight: var(--semiBold);
  }

  &__p {
    width: 466px;
    margin-top: 10px;
  }

  &__amenities {
    font-weight: var(--medium);
    margin-top: 10px;
  }

  &__baseline {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 50px;
  }

  &__price {
    font-weight: var(--bold);
    font-size: var(--font-xs);
  }

  &__span {
    font-size: var(--font-base);
    font-weight: var(--semiBold);
  }
}
