.bookingform {
  background-color: var(--black);
  height: auto;
  width: 600px;
  margin-top: 40px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding-top: 20px;
  }

  &__btn {
    margin-top: 20px;
  }
}

.cardInfo {
  margin-top: 40px;
}

.contactform {
  display: flex;

  &__label {
    color: var(--white);
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
    font-weight: var(--medium);
  }

  &__inputShort {
    width: 229px;
  }

  &__input {
    width: 472px;
  }

  &__input,
  &__inputShort {
    color: var(--black);
    height: 50px;
    padding-left: 15px;
    border-radius: var(--radius);
  }

  &__messagefield {
    padding-left: 15px;
    padding-top: 10px;
    width: 472px;
    height: 130px;
    color: var(--black);
    resize: none;
    border-radius: var(--radius);
  }

  &__lastname {
    margin-left: 15px;
  }

  &__firstname {
    width: 229px;
  }

  &__BtnDiv {
    padding-bottom: 30px;
  }
}

.login {
  background-color: var(--black);
  display: flex;
  height: 720px;

  &__label {
    margin-top: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
  }

  &__headline {
    margin-bottom: 60px;
  }

  &__password-label {
    margin-top: 30px;
  }

  &__btn {
    margin-top: 25px;
  }

  &__error {
    color: red;
    display: block;
    margin-top: 4px;
  }
}
